/* global css */
:root {
    --mainColor: #272b30;
    --font: "Comfortaa", cursive;
}

body {
    background-color: var(--mainColor);
    font-family: var(--font);
    font-weight: 200;
    font-size: small;
}

.cover img {
    max-height: 30vh;
    object-fit: cover;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* START OF NAVBAR */
nav {
    background-color: #3A497B;
    z-index: 999;
}

nav ul li a.active {
    color: rgb(0, 153, 204) !important;
}
/* END OF NAVBAR */

/* START OF DISPLAY GAMES */
.item {
    filter: grayscale(0.7);
    transition: all 0.3s;
}

.item:hover {
    filter: grayscale(0);
    transform: scale(1.02);
}

.item span {
    font-size: 11px;
}

.card button {
    font-size: 12px;
}
/* END OF DISPLAY GAMES */

